

/* TABLE OF CONTENTS:

Author: Catherine Grace Labrador
Section: AM11
Last Update: March 01, 2025

NOTE: Refer to the long green lines to know which sections you are in
0.) IMPORT AREA
1.) SECTION 1
2.) SECTION 2
3.) SECTION 3
4.) SECTION 4
5.) SECTION 5
6.) CONTAINERS
7.) HIDDEN CONTAINERS
8.) ANIMATIONS
*/

/*************************************************************import area **********************************************************/

@import "general.css";



/********************************************************* SECTION 1 ******************************************************/
.cl-1 section{
     /* display: flex;  */
     overflow: hidden;
}

/* .cl-1 aside{
    width: 32.5% ;
    height: 800px;
    overflow: hidden;
    position: relative; 
    
} */
/* 
.imgwrap-1{
    display: flex;
    width: 100%;
    transition: transform 1s ease-in-out;
} */

.cl-1 main{
        height: 600px;
        padding-top: 3%;
        justify-content: center;
        align-items: center ;
        /* background-image: url(PICTURES/cl-5.png) !important; */
        /* background-image: radial-gradient( rgb(255, 241, 213), rgb(72, 17, 0)); */
        /* background-color: rgba(79, 20, 1, 0.278); */
        background-repeat: no-repeat; 
        background-size: cover; 
        background-blend-mode: multiply;
        text-align: center;
        position: relative;
        margin: 2px;
        /*test attributes here*/
    }

.cl-1 main h2{
        animation-name: cl-1-anim-h1;
        animation-duration: 1.5s;
        position: sticky;
        text-shadow: 2px 2px 5px #d4cbbf;
    }

.cl-1 p{
    text-align: center;
    margin: 0 2% 0 2%; 
    text-shadow: 2px 2px 5px #222;
}
.cl-1 h2, p{
    /*test attributes here*/
    position: sticky;
}

/* .cl-1 img{
        object-fit: contain;
        /* object-position: right top; 
        height: 100%;
        max-width: 500px;
        max-height: 904px;
    } 
    */

/******************************************************** SECTION 2 ******************************************************/
.cl-2{
    background-image: url("PICTURES/cl-6.jpg");
    background-color: rgba(250, 235, 215, 0.701);
    background-blend-mode: lighten;
    text-align: center;
    padding: 20px;
    
}
.cl-2 h3{
    display: block;
    text-shadow: 2px 2px 10px#d4cbbf;
    background-color: #ffffffbe;
    padding-top: 40px;
    padding-left: 30%;
    padding-right: 30%;
    margin: 0 5% 0 5%;
}

.cl-2 p{
    background-color: #ffffffbe;
    display: block;
    justify-content: center;
    text-align: justify;
    margin: 0 5% 0 5%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20%;
    padding-right: 20%;

}

/******************************************************** SECTION 3 ******************************************************/
.cl-3{
    display: flex;
    
}
.cl-3 section{
    display: flex; 
    overflow: hidden;
    width: 100%;
    
}

.cl-3 aside{
    display: block;
    width: 50%;
    overflow: hidden;
    position: relative;
    justify-content: left;
    border: solid #d4cbbf;
    /* background-color: #3b0000; */
}

.cl-3 main{
    display: block;
    flex: 1;
    overflow: hidden;
    position: relative;
    /* width: 50%; */
    border: solid #d4cbbf;
    /* background-color: #192f2d; */
}

.cl-3 h4, p{
    margin:10px;
    text-align: justify;
}
.cl-3 main img{
    float: left;
    display: block;
    /* width: 200px;
    height: 200px; */
    /* width: 20dvw;
    height: 20dvh; */
    width: 20%;
    height: auto;
    margin: 10px;
}

/******************************************************** SECTION 4 ******************************************************/
.cl-4{
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    display: block;
    text-align: center;
}


.cl-4 #cl-4_1row{
    display: flex;
    /* flex-direction: row;  */
    justify-content: center;
    align-items: center;
    /* margin-right: 10%;
    margin-left:10%; */
    text-align: center;

}
.cl-4 #cl-4_2row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cl-4 img{
    /* width: 120%;
    height: 120%; */
    /* max-width: 200px;
    max-height: 200px; */
    max-width: 20dvw;
    max-height: 20dvh;
    width: auto;
    height: auto;
    
}

.cl-4_3{
    display: block;
    width: 20dvw;
    height: 40dvh;
    object-fit: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 10% 0 10%;
    /* margin: 0 0 5% 0; */
}

.cl-4 h2{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}
.cl-4 h3{
    display: block;
    text-align: center;
    margin: 0 !important;
    font-size: 2dvh;
    
}
.cl-4 h5{
    display: block;
    text-align: center;
    margin: 0 !important;
    /* font-size: 1.5dvh; */
    
}

/******************************************************** SECTION 5 ******************************************************/

#cl-5{
    background-color: #e4dbce9a;
    /* background-image: url(PICTURES/cl-10.jpg) !important;  */
    background-blend-mode: lighten;
    background-size: contain;
}

.clcontainer p{
    font-size: 15px;
    margin: 1px;
    word-spacing: 1.5px;
    letter-spacing: 1px;
    text-align: justify ;
}
.clcontainer li{
    font-size: 13px;
    margin: 1px;
    word-spacing: 1.5px;
    letter-spacing: 1px;
    text-align: justify;
}
.cl-container h6{
    font-size: 18px;
    margin: 2px;
    word-spacing: 3px;
    letter-spacing: 3px;
}
/******************************************************** CONTAINERS ******************************************************/

.cl-container{
    /* align-items: center;
    justify-content: center; */
    position: relative;
}
.cl-container section{
    display: flex;
    position: relative;
}
.cl-container img{
    max-width: 1200px;
    width: 80%;
    height: auto;
    position: relative;
    margin:0 10% 0 10%;
}
.cl-container img:hover{
        cursor: pointer;
        transform: scale(1.1, 1.1) ;
        transition-duration: 0.5s;
        background-blend-mode: lighten;
    }



/******************************************************** HIDDEN CONTAINERS ******************************************************/
.cl-container #cl-hidden1{
    background-color: #ebdbcccc;
    bottom : -100px;
    padding: 5px 10% 5px 10%;
    margin: 0 15% 0 15%;
    overflow: visible;
}

.cl-container #cl-hidden2{
    background-color: #ebdbcccc;
    top :-100px;
    padding: 5px 10% 5px 10%;
    margin: 0 15% 0 15%;
    overflow: visible;
}
/********************************************************************* ANIMATION AREA -****************************************
    /dropdown from above animation */
@keyframes cl-1-anim-h1 { 
    from {
        color: transparent; 
        transform:translateY(-130px);
    }
    to {
        color: #000000; 
    }
}

    /*slide from the left animation*/
@keyframes cl-1-anim2 {
    from{
        color: transparent;
        transform: translateX(-150px);
    }
    to{
        color: #d7c8c82b;
        transform: translateX(0px);
    }
}
