

/* TABLE OF CONTENTS:

Author: Catherine Grace Labrador
Section: AM11
Last Update: March 01, 2025

NOTE: Refer to the long green lines to know which sections you are in
0.) FONT IMPORTS
1.) GENERAL STYLING
2.) OTHER CLASSES
3.) HOVERRABLE SIDEBAR
4.) ANIMATIONS

*/
/*************************************************************** font imports ******************************************************/

@font-face {
    font-family: 'subHeader';
    src: url(fonts/Reality-Stone.ttf);
}

@font-face {
    font-family: 'main-content';
    src: url(fonts/CormorantGaramond-Medium.ttf);
}

@font-face {
    font-family: 'main2-content';
    src: url(fonts/CormorantGaramond-SemiBold.ttf);
}

@font-face {
    font-family: 'main3-content';
    src: url(fonts/CormorantGaramond-BoldItalic.ttf);
}
/*************************************************************** general styling ********************************************************/
h1, h2, h3, h4{
    font-family: 'subHeader' !important;
    color: #000000;
    letter-spacing: 3px;
}

h1{
    /* font-size: 35px; */
    /* font-size: 2.1875em; */
    font-size: 4dvh;
}
h2{
    /* font-size: 30px; */
    /* font-size: 1.875em; */
    font-size: 3.7dvh;
}
h3{
    /* font-size: 25px; */
    /* font-size: 1.5635em; */
    font-size: 3.2dvh;

}
h4{
    /* font-size: 20px; */
    /* font-size: 1.25em; */
    font-size: 3dvh;
}
h5{
    font-family: 'main2-content' !important;
    color: #2f2117;
}
h6{
    font-family: 'main3-content' !important;
    color: #2f2117;
}
a, nav, button{
    font-family: 'main3-content' !important;
    color: #000000;
}

p, li{
    font-family: 'main-content' !important;
    color: #000000;
    /* font-size: 20px; */
    /* font-size: 1.25em; */
    font-size: 2.3dvh;
}

body{
    background-color: #fff;
    padding: 0;
    margin: 0;
    height: 200vh; /* test attribute or whatever*/
    font-size: 100%;
}

.cl-companyname{
    font-family: 'main3-content';
    font-size-adjust: 0.45;
}

.cl-numbers{
    font-size-adjust: 0.57;
}
.cl-smallerfont{
    font-size-adjust: 0.2;
    margin-top: 0;
    
}

/*************************************************************** OTHER CLASSES ********************************************************/


footer {
     background-color: #ddbc8f;
     color: white;
     text-align: center;
     padding: 15px 0;
     margin-top: 50px;
   }
   
   .developers {
     text-align: center;
   }
   
   .developers p {
     margin: 10px 0;
   }
/*************************************************************** HOVER SIDEBAR ********************************************************/

/*********************************************************ANIMATION NKDASN ***********************************************************************/
@keyframes cl-3-anim { 
    from {
        opacity: 0.4;
        transform:translateX(-100px)
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes cl-3-anim-out {
    from{
        opacity: 1;
        transform: translateX(0px);
    } to {
        opacity: 0.4;
        transform: translateX(-100px);
    }
    
}
