

/* TABLE OF CONTENTS:

Author: Catherine Grace Labrador
Section: AM11
Last Update: March 01, 2025

NOTE: Refer to the long green lines to know which sections you are in
0.) FONT IMPORTS
1.) GENERAL STYLING
2.) OTHER CLASSES
3.) HOVERRABLE SIDEBAR
4.) ANIMATIONS

*/
/*************************************************************** font imports ******************************************************/

@font-face {
    font-family: 'subHeader';
    src: url(fonts/Reality-Stone.ttf);
}

@font-face {
    font-family: 'main-content';
    src: url(fonts/CormorantGaramond-Medium.ttf);
}

@font-face {
    font-family: 'main2-content';
    src: url(fonts/CormorantGaramond-SemiBold.ttf);
}

@font-face {
    font-family: 'main3-content';
    src: url(fonts/CormorantGaramond-BoldItalic.ttf);
}
/*************************************************************** general styling ********************************************************/
h1, h2, h3, h4{
    font-family: 'subHeader' !important;
    color: #000000;
    letter-spacing: 3px;
}

h1{
    /* font-size: 35px; */
    /* font-size: 2.1875em; */
    font-size: 4dvh;
}
h2{
    /* font-size: 30px; */
    /* font-size: 1.875em; */
    font-size: 3.7dvh;
}
h3{
    /* font-size: 25px; */
    /* font-size: 1.5635em; */
    font-size: 3.2dvh;

}
h4{
    /* font-size: 20px; */
    /* font-size: 1.25em; */
    font-size: 3dvh;
}
h5{
    font-family: 'main2-content' !important;
    color: #2f2117;
}
h6{
    font-family: 'main3-content' !important;
    color: #2f2117;
}
a, nav, button{
    font-family: 'main3-content' !important;
    color: #000000;
}

p, li{
    font-family: 'main-content' !important;
    color: #000000;
    /* font-size: 20px; */
    /* font-size: 1.25em; */
    font-size: 2.3dvh;
}

body{
    background-color: #fff;
    padding: 0;
    margin: 0;
    height: 200vh; /* test attribute or whatever*/
    font-size: 100%;
}

.cl-companyname{
    font-family: 'main3-content';
    font-size-adjust: 0.45;
}

.cl-numbers{
    font-size-adjust: 0.57;
}
.cl-smallerfont{
    font-size-adjust: 0.2;
    margin-top: 0;
    
}

/*************************************************************** OTHER CLASSES ********************************************************/
.dropdownmenu{
    margin: auto;

    nav {
        
        /* padding-left:  50px; */
        padding: 20px;
        background-color: #f6e3b7;
        text-align: right;
        /* white-space: nowrap; */
        letter-spacing: 1.5px;

    }
    a{
       text-align: right;
       color: antiquewhite;
        text-decoration: none;
        margin-left: 30px
    }

    a:hover{
        text-decoration: underline;
    }
    button{
        display: flex;
        position: fixed;
        background-color: #48443a;
        color: black;
        padding: 20px;
        margin-left: 2px;
        border-radius: 5px;
        width: 65px;
        height: 65px;
        border: none;
        z-index: 1000;
        cursor: pointer;
        }
    
    button:hover{
        background-color: #abf8ff2d;
    }
}

footer {
     background-color: #ddbc8f;
     color: white;
     text-align: center;
     padding: 15px 0;
     margin-top: 50px;
   }
   
   .developers {
     text-align: center;
   }
   
   .developers p {
     margin: 10px 0;
   }
/*************************************************************** HOVER SIDEBAR ********************************************************/
#cl-cont-3{
    display: none;
    float: left;
    background-color: rgba(59, 34, 31, 0.905);
    z-index: 900;
    overflow: visible;
    position: fixed;
    box-shadow: 0px 5px 15px #1a0d00;
    transition: transform 2.5s ease-in;
    /* transform: translateX(0px); */
    margin: 0;
    padding: 0;

}


.show-1{
    animation-name: cl-3-anim-out;
    animation-duration: 1s;
    /* transition: transform 2.5s ease-in-out opacity 2.5s ease-in-out; */
    transition: transform 0.3s ease-in;
    transform: translateX(-500px);
}

#cl-cont-3{
    animation-name: cl-3-anim; 
    animation-duration: 1.5s;
    height: 300vh;
    a{
        text-decoration: none;
    }
    ul{
        /* list-style-image: url('PICTURES/cl-11.png'); */
        list-style: none;
        padding-top: 50px;
        padding-left: 0;
    }
    li{
        
        padding: 5px 50px 5px 25px;
        font-size: 25px;
        display: block;
        margin-bottom: 5px;
        position: relative;
        /* padding-left: 30px; */
        cursor: pointer;
    }
    li::before{
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url('PICTURES/cl-11.png') no-repeat left center;
        background-size: cover;
        width: 30px;
        height: 30px;
        transition: transform 0.3s ease-in-out;
        margin-left: 20px;
        /* padding-left: 20px; */
    }
    li:hover::before{
        transform: translateY(-50%) rotate(90deg);
        /* background-color: #000000f5; */
    }
    li:hover{
        /* background: ; */
        /* transform: rotateZ(90deg); */
        /* text-decoration: underline; */
        background-color: rgba(141, 4, 4, 0.382);
        cursor: pointer;
    }
}


/*********************************************************ANIMATION NKDASN ***********************************************************************/
@keyframes cl-3-anim { 
    from {
        opacity: 0.4;
        transform:translateX(-100px)
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes cl-3-anim-out {
    from{
        opacity: 1;
        transform: translateX(0px);
    } to {
        opacity: 0.4;
        transform: translateX(-100px);
    }
    
}
